h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif; /* google font , 보조 font(google font가 없을 경우)*/
}

.fact {
  font-size: 20px;
  line-height: 1.4; /*문단 내 문장 간 간격*/
  /* font-family: "Sono", sans-serif; */
.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
}

ul {
  list-style: none; /*리스트 옆에 있는 . 이 없어짐*/
}
