* {
  /* global selector */
  /* margin과 padding은 상속이 안되므로 global selector에서 지정해야함*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px;
}

/* MAIN Layout */
.container {
  max-width: 1500px; /* element가 max-width로 설정된 값보다 커지지 않음 */
  /* 아래 두 줄로 body 부분을 중앙에 정렬할 수 있다.*/
  /*margin-left: auto;
  margin-right: auto;*/
  margin: 0 auto; /*위의 두 줄과 같은 의미*/
}

.header {
  /*margin: 40px;*/
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 40px;

  text-align: center;
}
.main {
  display: grid;
  grid-template-columns: 250px 1fr; /*1번 열은 고정된 크기를 가지고, 2번 열은 나머지 가용 공간을 기준으로 유연한 크기를 가짐*/
  gap: 48px; /* 두 열 사이의 간격 */
}

/* Elements */

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  /*selector를 이렇게도 지정할 수 있다. (logo 클래스의 img 태그)*/
  width: 68px;
  height: 68px;
}

.category {
  margin-bottom: 16px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  /* text-align: center; */
  font-family: "Coiny", sans-serif; /* google font , 보조 font(google font가 없을 경우)*/

  /* color: #fafaf9; */ /* inheritance 사용 */
  line-height: 1;
  margin-top: 6px;
}

.fact {
  font-size: 20px;
  line-height: 1.4; /*문단 내 문장 간 간격*/
  /* font-family: "Sono", sans-serif; */
  /* color: #fafaf9; */
  background-color: #44403c;
  margin-bottom: 16px; /*space outside*/
  padding: 16px 24px; /*vertical horizontal*/
  /*padding-left를 padding 밑에 쓰면 적용되지만, padding 전에 사용하면 적용 안됨 -> padding: 16px 이 padding-left 속성을 덮어쓰기 때문*/
  /*border: 4px dashed red;*/ /*border 지정 가능*/

  display: flex;
  align-items: center;
  gap: 24px;
  letter-spacing: -1px; /* 글자 간격 */
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  /* color: #fafaf9; */
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.vote-buttons {
  margin-left: auto; /* 요소를 부모 컨테이너 내에서 오른쪽으로 밀어 정렬할 때 사용*/
}

ul {
  list-style: none; /*리스트 옆에 있는 . 이 없어짐*/
}

/* comma로 여러 selector 지정 가능*/
.source:link,
.source:visited {
  /* href 로 link가 있는 곳에만 style 적용 (a 태그에 href 없이 사용하는 경우도 있음)*/
  color: #a8a29e;

  text-decoration: none; /* 텍스트 아래선 제거*/
  margin-left: 12px;
  transition: 0.3s; /*link,visited 상태에서 hover/active 상태로 갈 때 smooth 하게 스타일 변경됨*/
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: "Coiny", sams-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;

  /* button에 그라데이션 넣기 */
  /* linear-gradient에 to right/to left/to bottom/to top 을 넣거나 아래처럼 각도를 넣어줄 수도 있다.*/
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);

  /* button은 parent(현재 body)의 특성을 interit 하지 않지만, 아래 설정을 통해 강제로 interit 하도록 설정 가능*/
  color: inherit;

  transition: 0.3s;
}

/* button 에 커서 올렸을 때 움직이도록 설정 */
.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

/* btn-large가 btn 밑에 있어야 btn-large 특성이 btn 특성을 덮어쓸 수 있다.! */
.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  /* parent 와의 관계를 계산해서 width 설정 */
  width: 100%;
}

.btn-category {
  width: 100%;
  /* btn 클래스에서 적용된 그라데이션 해제 */
  background-image: none;
}
