* {
  /* global selector */
  /* margin과 padding은 상속이 안되므로 global selector에서 지정해야함*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #292524;
  color: #fafaf9;
  font-family: "Sono", sans-serif;
  padding: 48px 64px;
}

.hidden {
  display: none !important;
}

/* MAIN Layout */
#root {
  max-width: 1500px; /* element가 max-width로 설정된 값보다 커지지 않음 */
  /* 아래 두 줄로 body 부분을 중앙에 정렬할 수 있다.*/
  /*margin-left: auto;
  margin-right: auto;*/
  margin: 0 auto; /*위의 두 줄과 같은 의미*/
}

.header {
  /*margin: 40px;*/
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fact-form {
  background-color: #44403c;
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.main {
  display: flex;
  flex-direction: column;
}
.content {
  display: grid;
  grid-template-columns: 250px 1fr; /*1번 열은 고정된 크기를 가지고, 2번 열은 나머지 가용 공간을 기준으로 유연한 크기를 가짐*/
  gap: 48px; /* 두 열 사이의 간격 */
}

.main > .content {
  flex: 1;
}

/* main 컨테이너의 last child 에 적용됨 */
.main > *:last-child {
  /* aligns the last child element to the end of the flex container's cross axis (vertically in this case, since the flex direction is column).*/
  align-self: flex-end;
}

/* width가 900px 이하인 곳에서 적용되는 코드 */
@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr; /* 1개의 column만 공간을 차지하도록 설정 */
  }
  .content {
    grid-template-columns: 1fr; /* .content의 컬럼을 1개로 변경 */
  }
}

/* Elements */

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  /*selector를 이렇게도 지정할 수 있다. (logo 클래스의 img 태그)*/
  width: 68px;
  height: 68px;
}

.category {
  margin-bottom: 16px;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  /* text-align: center; */
  font-family: "Coiny", sans-serif; /* google font , 보조 font(google font가 없을 경우)*/

  /* color: #fafaf9; */ /* inheritance 사용 */
  line-height: 1;
  margin-top: 6px;
}

.fact {
  font-size: 20px;
  line-height: 1.4; /*문단 내 문장 간 간격*/
  /* font-family: "Sono", sans-serif; */
  /* color: #fafaf9; */
  background-color: #44403c;
  margin-bottom: 16px; /*space outside*/
  padding: 16px 24px; /*vertical horizontal*/
  /*padding-left를 padding 밑에 쓰면 적용되지만, padding 전에 사용하면 적용 안됨 -> padding: 16px 이 padding-left 속성을 덮어쓰기 때문*/
  /*border: 4px dashed red;*/ /*border 지정 가능*/

  display: flex;
  align-items: center;
  gap: 24px;
  letter-spacing: -1px; /* 글자 간격 */
  border-radius: 16px;
}

/* width가 1200px 이하인 곳에서 적용되는 코드 */
@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  /* color: #fafaf9; */
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}

.vote-buttons {
  margin-left: auto; /* 요소를 부모 컨테이너 내에서 오른쪽으로 밀어 정렬할 때 사용*/

  display: flex; /* voting 버튼들이 side-by-side 로 정렬되도록 flex container로 지정 */
  gap: 8px;

  flex-shrink: 0; /* vote-buttons는 fact 클래스 안에 있는 flex item이기도 하다!*/
  /*이렇게 지정해서 버튼 안에 글자가 수직으로 정렬되지 않도록 설정한다. */
}

.vote-buttons button {
  border: none;
  background-color: #78716c;
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;

  color: inherit; /* 텍스트 색깔 강제 inherit*/
  font-family: inherit;
  font-weight: 600; /* 글자 bold 정도*/
  cursor: pointer;

  transition: 0.3s;
}

.vote-buttons button:hover {
  background-color: #292524;
}

ul {
  list-style: none; /*리스트 옆에 있는 . 이 없어짐*/
}

/* comma로 여러 selector 지정 가능*/
.source:link,
.source:visited {
  /* href 로 link가 있는 곳에만 style 적용 (a 태그에 href 없이 사용하는 경우도 있음)*/
  color: #a8a29e;

  text-decoration: none; /* 텍스트 아래선 제거*/
  margin-left: 12px;
  transition: 0.3s; /*link,visited 상태에서 hover/active 상태로 갈 때 smooth 하게 스타일 변경됨*/
}

.source:hover,
.source:active {
  color: #3b82f6;
}

.btn {
  border: none;
  font-family: "Coiny", sams-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;

  /* button에 그라데이션 넣기 */
  /* linear-gradient에 to right/to left/to bottom/to top 을 넣거나 아래처럼 각도를 넣어줄 수도 있다.*/
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);

  /* button은 parent(현재 body)의 특성을 interit 하지 않지만, 아래 설정을 통해 강제로 interit 하도록 설정 가능*/
  color: inherit;

  transition: 0.3s;
  /* 버튼 둥그렇게 만들기 -> 큰 값을 넣어주기! 일정 크기 이상 넣어도 변화 없음. 작은 값 넣으면 덜 둥글해짐*/
  border-radius: 100px;

  /* 커서 올렸을 때 마우스가 손 모양으로 변경됨 */
  cursor: pointer;
}

/* button 에 커서 올렸을 때 움직이도록 설정 */
.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

/* btn-large가 btn 밑에 있어야 btn-large 특성이 btn 특성을 덮어쓸 수 있다.! */
.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  /* parent 와의 관계를 계산해서 width 설정 */
  width: 100%;
}

.btn-category {
  width: 100%;
  /* btn 클래스에서 적용된 그라데이션 해제 */
  background-image: none;
}

.fact-form input,
.fact-form select {
  width: 220px;
  background-color: #78716c;
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.fact-form input::placeholder {
  color: #a8a29e; /*placeholder의 default text 보이도록 설정*/
}

.fact-form input:first-child {
  /* input의 첫번째 요소 (default text)부분*/
  flex-grow: 1; /*take up all the space if it requires */
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto; /* 위에서 width를 지정함으로 인해 제대로 stretch가 안되는 문제 해결*/
  }
}

/* 모달 오버레이 */
.modal-overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* 모달 콘텐츠 */
.modal-content {
  background-color: rgb(63, 61, 61);
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow-y: auto;
}

textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  width: 100%;
}

@media (max-width: 768px) {
  .modal-content {
    width: 90%; /* 작은 화면에서는 90% 너비 */
    max-width: 500px; /* 최대 너비를 500px로 제한 */
    max-height: 80vh; /* 화면 높이에 맞춰 최대 높이 제한 (80% 화면 크기) */
  }
}

.note-container {
  display: flex;
  flex-direction: column; /* 세로로 배치 */
  justify-content: flex-end; /* 버튼을 아래쪽으로 배치 */
  align-items: flex-end; /* 버튼을 오른쪽 끝으로 배치 */
  height: 200px; /* 이 컨테이너의 높이는 임의로 설정 */
  position: relative; /* 버튼 위치를 기준으로 설정 */
}

textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: vertical;
  margin-bottom: 10px; /* 버튼과 텍스트박스 사이에 공간을 둡니다 */
}

.save-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.save-button:hover {
  background-color: #45a049;
}

.close-button {
  background-color: #f44336;
  color: rgb(43, 25, 133);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.close-button:hover {
  background-color: #e53935;
}
